@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap');

:root {
  --primary-color: #356df1;
  --text-color: #333;
  --border-color: #ddd;
  --light-gray: #f2f2f2;
  --white: #fff;
  --black: #000;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --border-radius: 8px;

  --max-content-width: 2400px;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
}

.content {
  max-width: min(var(--max-content-width), 90vw) !important;
  margin: 0 auto;
}

.bold {
  font-weight: bold !important;
}

.centred {
  text-align: center !important;
}

.small {
  font-size: 0.85rem;
  opacity: 0.7;
}
