.formContainer {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    /* margin: 3rem auto; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;    
}

.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.8rem;
}

.formContainer h2 {
    margin: 0;
    font-size: 1.75rem;
    text-align: center;
}

.formContainer label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: -0.5rem;
    text-align: left;
    width: 100%;
}

.fieldGroup {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex: 1;
}

.formContainer input, .formContainer button, .formContainer select {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 100%;
    font-size: 1rem;
}

.formContainer input, .formContainer select {
    box-sizing: border-box;
}

.formContainer button {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.formContainer button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.formContainer button:hover:not(:disabled) {
    background-color: var(--primary-color);
}

.fullWidth {
    max-width: 100vw !important;
}

.row {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.row input {
    flex: 1; 
    min-width: 0;
}