.formBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (width >= 768px) {
    .formBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (width >= 1167px) {
    .formBox {
        grid-template-columns: 1fr;
    }
}
