.dashboardImageContainer {
  min-height: 400px;
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.dashboardImageContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  z-index: 0;
}

.dashboardImageContainer h1, 
.dashboardImageContainer p, 
.dashboardImageContainer > .links a {
  color: #fff;
  position: relative;
  z-index: 1;
  text-shadow: 0 2px 8px rgb(0 0 0 / 70%);
  padding: 20px 0;
  max-width: 80%;
  text-align: center;
}

.dashboardImageContainer > .links a {
  padding: 1px 1rem;
  margin: 5px 1rem;
  border: 1px solid #fff;
  border-radius: 8px;
  text-decoration: none;
}

.dashboardImageContainer > .links a:hover {
  color: #000;
  background-color: #fff;
}
