{
  "frontend/src/**/*.{js,jsx}": [
    "eslint --fix"
  ],
  "backend/**/*.ts": [
    "eslint --fix"
  ],
  "**/*.module.css": [
    "stylelint --fix"
  ],
    "archeryutils-service/**/*.py": [
    "python -m isort",
    "python -m black",
    "python -m flake8 --config=archeryutils-service/.flake8"
  ]
}
