services:
  database:
    image: postgres:15-alpine
    container_name: database
    restart: always

    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "83:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend
    volumes:
      - ./backend:/app:rw
      - /app/node_modules
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?schema=public
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npx prisma generate && npx prisma db push && npm run dev"
    ports:
      - "82:4000"
    depends_on:
      - database

  frontend:
    build: ./frontend
    container_name: frontend
    volumes:
      - ./frontend:/app:rw
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - WDS_SOCKET_PORT=81
    ports:
      - "81:3000"
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  postgres_data: