.contactCard {
    position: relative;
    overflow: hidden;
    padding: 1rem 0;
    border-bottom: 2px solid var(--border-color);
}

/* .contactCard:not(:last-child) {
    border-bottom: 2px solid var(--border-color);
} */

.contactCard:hover {
    background-color: var(--light-gray);
    border-color: var(--primary-color);
    border-width: 3px;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px var(--shadow);
    color: var(--primary-color) !important;
}

.cardHeader {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.cardHeader span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cardHeader strong {
    font-size: 1rem;
    color: var(--text-color);
}

.updateForm {
    margin-top: 1.5rem;
    padding: 1rem;

    /* background-color: var(--light-gray); */
    border-radius: 8px;
    box-sizing: border-box;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    width: 100%;
}

.buttonGroup button {
    flex: 1;
}

.lastUpdated {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: var(--text-color);
    text-align: center;
    width: 100%;
    display: block;
}

/* READ ONLY ADMIN DASHBOARD CARD STYLES */

.readOnlyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.staticCard {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px var(--shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.2s ease;
}

.staticCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px var(--blue-shadow);
}

.staticCardHeader {
    background-color: var(--light-gray);
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--border-color);
}


.staticCardHeader strong {
    color: var(--text-color);
}

.staticCardBody {
    padding: 1rem;
    flex-grow: 1;
}

.staticCardBody p {
    margin: 0.5rem 0;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.staticCardFooter {
    padding: 0.5rem 1rem;
    border-top: 1px dashed var(--border-color);
}

.staticCardFooter p {
    margin: 0;
    color: var(--light-text-color);
    font-style: italic;
    font-size: 0.8rem !important;
}
